<a href="https://colab.research.google.com/github/memonahafeez/pythonprograms/blob/main/lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lists:**

A list in Python is a collection of elements that are ordered and mutable.
Elements in a list can be of any data type, and they are typically separated by commas and enclosed within square brackets [ ].

**Dictionaries:**

A dictionary in Python is a collection of key-value pairs that are unordered and mutable.
Each key in a dictionary is unique and associated with a specific value. Keys and values can be of any data type.
Dictionaries are enclosed within curly braces { }, and key-value pairs are separated by colons :.

In [ ]:
my_list = [1, 2, 3, 4, 5]

# Iterate over each element in the list using a for each loop
for element in my_list:
    print(element)

1
2
3
4
5

In [ ]:
my_list1 = [1, 2, 3]
# Define another list of elements to add
my_list2 = [4, 5, 6]

# Add elements to the list using extend()
my_list1.extend(my_list2)

# Print the updated list
print( my_list1)

[1, 2, 3, 4, 5, 6]

In [ ]:

my_list = [10, 20, 30, 40, 50]

# Initialize sum variable
total_sum = 0

for num in my_list:
    total_sum += num

# Print the sum
print( total_sum)

150

In [ ]:
# Define a list
my_list = [1, 2, 3, 4, 5]

# Reverse the order of elements in the list
my_list.reverse()
print("Reversed list:", my_list)

Reversed list: [5, 4, 3, 2, 1]

In [ ]:

my_list = [10, 20, 30, 40]

# Remove the element 30 from the list
my_list.remove(30)
print("List after removing an element:", my_list)

List after removing an element: [10, 20, 40]

In [ ]:
my_list = [10, 20, 30, 40]

# Insert an element at index 2
my_list.insert(2, 25)

# Print the updated list
print( my_list)

[10, 20, 25, 30, 40]

In [ ]:

my_list = []

# Add elements to the list using append()
my_list.append(10)
my_list.append(20)
my_list.append(30)

# Print the updated list
print( my_list)

[10, 20, 30]

In [ ]:
# Define a list
my_list = [10, 20, 30, 40, 50]

# Find the length of the list using the len() function
list_length = len(my_list)

# Print the length of the list
print("Length of the list:", list_length)

Length of the list: 5

In [ ]:

my_list = []

# Add elements to the list using append()
my_list.append("apple")
my_list.append("banana")
my_list.append("orange")

# Print the updated list
print( my_list)

['apple', 'banana', 'orange']

In [ ]:
# Define a dictionary
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

# Remove a key from the dictionary
key_to_remove = 'age'
my_dict.pop(key_to_remove, None)

# Print the updated dictionary
print("Updated dictionary after removing the key:", my_dict)

Updated dictionary after removing the key: {'name': 'John', 'city': 'New York'}

In [ ]:
# Define a dictionary
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

# Find the length of the dictionary using the len() function
dict_length = len(my_dict)

# Print the length of the dictionary
print("Length of the dictionary:", dict_length)

Length of the dictionary: 3

In [ ]:

my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}
print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [ ]:
# Remove a key-value pair
del my_dict['city']

# Remove a key-value pair using pop()
my_dict.pop('age')

# Remove all key-value pairs
my_dict.clear()

print("Dictionary after removal:", my_dict)

Dictionary after removal: {}

In [ ]:
# Find the length of the dictionary
dict_length = len(my_dict)
print("Length of the dictionary:", dict_length)

Length of the dictionary: 0